/*阅读进度样式*/
#readProgress {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
}

#changePost {
    font-family: "Courier New", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*上下篇文章字体大小*/
#prePost, #nextPost {
    font-size: 1.2rem;
}
